<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 참고: https://mybatis.github.io/mybatis-3/ko/configuration.html#settings -->
<configuration>

	<!-- 런타임(mybatis가 실행하는 동안 사용할 값) 관련 값 설정 -->

	<settings>
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="3000" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>
	
</configuration>